footer {
  width: 100%;
  background-color: #D8A8DC;
  height: 8vh;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  margin-left: .4rem;
  text-decoration: none;
  color: #F0F0F0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.fa {
  color: #F0F0F0;
}
