.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50rem;
}

.main_container {
  background-color: #D8A8DC;
  padding: 20px;
  border-radius: 15px;
  color: #252525;
}

.appDemo {
  width: auto;
  max-width: 500px;
  height: auto;
  margin-left: 15em;
}
