nav {
  display: flex;
  height: 6rem;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
}

.panda {
  height: 70px;
}

.pandaLogo {
  color: #444444;
  font-size: 1.9rem;
  padding: 10px;
  margin-left: 10px;
}

.pandaLogo span {
  color: #DCBEA8;
}

.heart {
  width: 1.5rem;
}
