.container {
  display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    max-width: 575px;
    margin-left: auto;
    margin-right: auto;
    color: #444444;
    text-align: center;
    height: 70vh;
}

.createRecipeForm {
  display: block;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.createRecipeForm input {
  width: 80%;
  justify-content: center;
  margin: .5rem 0;
}

.container h2, h4 {
  text-align: left;
  color: #333333;
  margin-left: 3rem;
  margin-top: 4rem;
}

.ingredientList li {
  display: block;
  flex-flow: row nowrap;
  gap: 1rem;
  list-style-type: none;
}

.formChild {
  margin: 1rem 0;
}

li, ul {
  list-style: none;
  list-style-type: none;
}

 .createRecipeInput {
  width: 100%;
    border: none;
    border-bottom: 1px solid #dfdfdf;
    background-color: #faf9f9;
    height: 1.4rem;
}

.btnAddContainer {
  width: 50vw;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.ingredientList {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.instructionList {
  display: flex;
  margin-top: .5rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
}

.createRecipeBtn {
  width: 26rem;
  background-color: #D8A8DC;
  border: none;
  border-radius: 12px;
  height: 2.5rem;
  color: #faf9f9;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
}