.container {
  display: grid;
  grid-auto-columns: 1fr;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 40%;
}

.recipeImg {
  width: 100vw;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.recipeImg img {
  position: absolute;
  left: -200px;
  top: -300px;
}

.ingredientContainer {
  display: flex;
}

.ingredientChild {
  flex: .2;
}