:root {
  --color-main: #d3a9d9;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
  overflow-x: hidden;
  height: 100%;
  background-color: #faf9f9;
}

li {
  list-style:  none;
}

li a {
  color: #F0F0F0;
}
