.homePage {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 575px;
    margin-left: auto;
    margin-right: auto;
}

.homeContent {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
}