.navbar {
    overflow: hidden;
    bottom: 0;
    position: fixed;
    max-width: 575px;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8A8DC;
    border-radius: 20px 20px 0 0;
}

ul {
    margin-left: -40px;
    width: 575px;
    display: flex;
    justify-content: space-evenly;
}

.icon li  {
    color: #f0f0f0;
}

.navbarChild a {
    color: #F0F0F0;
}

.navbarChild {
    text-decoration: none;
    list-style-type: none;
}